body{
    background-image: url('https://media.gq.com.mx/photos/60cf8f0a33c54bdef67610ee/16:9/w_2560%2Cc_limit/paisaje.jpg');
}
.heading{
    font-size: 34px;
    width: 100%;
    margin: 0px;
box-shadow: 5px 5px 5px grey;
}

.note{
    font-size: 20px;
    color: rgba(9, 46, 165, 0.858);
}

.copy_right_footer{
    position: fixed;
    color: rgb(4, 175, 248);
    bottom: 0;
    width: 100%;
background-color: rgb(13, 13, 90);
line-height: 3;
text-align: center;
}
canvas{
    border: 3px solid blue;
    border-radius: 10px;
    box-shadow: 5px 5px 5px red;
}